<!-- public/src/view/about.html -->

<div class="container">
  <div class="row">
    <div class="mid-page col-xs-12 col-md-5 col-md-offset-1">
      <div class="wrapper">
        <div class="title">
          <h1>Chen Fang</h1>
          <h2>Software Engineer</h2>
        </div>
        <div class="content">
          <h3><span class="glyphicon glyphicon-list-alt"></span> Resume</h3>
          <a href="../../dist/content/Chen_Fang_Resume.W.pdf" download>download resume</a>
          <h3><span class="glyphicon glyphicon-pencil"></span> Motto</h3>
          <p>“Work harder and share more.”</p>
          <h3><span class="glyphicon glyphicon-education"></span> Education</h3>
          <ul>
            <li>
              <p>2011~2014, <strong>M.S. Computer Science</strong><br>
                Louisiana State University</p>
            </li>
            <li>
              <p>2010~2013, <strong>M.S. Electrical Engineering</strong><br>
                Louisiana State University</p>
            </li>
            <li>
              <p>2005~2009, <strong>B.S. Electrical Engineering</strong><br>
                Beijing University of Technology</p>
            </li>
          </ul>
          <h3><span class="glyphicon glyphicon-briefcase"></span> Work Experience</h3>
          <ul>
            <li>
              <p>Summer 2014, <strong>Full-Stack Web Developer</strong><br>
                Gaia Interactive Inc.</p>
            </li>
            <li>
              <p>2012~2013, <strong>Junior Software Developer</strong><br>
                Louisiana Transportation Research Center</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="right-page col-xs-12 col-md-5">
      <div class="img-wrapper">
        <img src="../dist/img/profile/knightf.jpg" alt="F.C. Game Studio">
      </div>
    </div>
  </div>
</div>