<div class="container">
  <div ng-repeat="todo in todos">
    <div ng-if="$odd">
      <timeline>
        <timeline-node side="left">
          <timeline-badge class="info"><i class="glyphicon glyphicon-check"></i>
          </timeline-badge>
          <timeline-panel>
            <timeline-heading>
              <timeline-title>{{todo.date | date:'longDate'}}, {{todo.location}}</timeline-title>
              <div style="text-align: center">
                <img class="img-responsive" ng-src="{{todo.image}}">
              </div>
            </timeline-heading>
            <timeline-content>
              <p>{{todo.content}}</p>
            </timeline-content>
          </timeline-panel>
        </timeline-node>
      </timeline>
    </div>
    <div ng-if="$even">
      <timeline>
        <timeline-node side="right">
          <timeline-badge class="info"><i class="glyphicon glyphicon-check"></i>
          </timeline-badge>
          <timeline-panel>
            <timeline-heading>
              <timeline-title>{{todo.date | date:'longDate'}}, {{todo.location}}</timeline-title>
              <div style="text-align: center">
                <img class="img-responsive" ng-src="{{todo.image}}">
              </div>
            </timeline-heading>
            <timeline-content>
              <p>{{todo.content}}</p>
            </timeline-content>
          </timeline-panel>
        </timeline-node>
      </timeline>
    </div>
  </div>
</div>


