// changes for ui.bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html{
  overflow-y:scroll;
}

body {
  background: #f4f3f3 url(../img/bg/header.gif) repeat-x center top fixed;
  color: #444948;
  font: normal 16px/24px "ProximaNovaLight", "Helvetica Neue", Helvetica, sans-serif;
}

img{
  max-width:100%;
  height:auto;
}

header#header_main {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  .chen {
    padding-top: 30px;

    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .avatar {
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

  h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 3em;
    line-height: 1em;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  p{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: rgba(255,255,255,0.6);
    font-family: ProximaNovaLight;
    text-transform: uppercase;
    line-height: 1em;
    padding-top: 10px;
    margin-top: 10px;
    letter-spacing: 0.2em;
  }

  .social {
    text-align: center;
    padding-top: 0;

    a {
      width: 50px;
      height: 50px;
      display: inline-block;
      text-indent: -999em;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
      background-position: center center;
      background-repeat: no-repeat;
      text-align: center;
      border: 0;
      -webkit-transition: all .2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: all .2s ease-in-out;
    }

    a.twitter  { background-image: url(../img/icon/twitter.png); }
    a.linkedin { background-image: url(../img/icon/linkedin.png); }
    a.email    { background-image: url(../img/icon/email.png); }
    a.github   { background-image: url(../img/icon/github.png); }
  }
}

#container_main {
  position: relative;
  overflow: hidden;
  z-index: 3;
  width: 100%;
  margin: 305px auto 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  #dash{
    z-index: 4;
    width: 300px;
    height: 31px;
    margin: 0 auto 15px auto;
    border-bottom: thin solid #b2b2b2;
    #dash-wrapper{
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
    }
    h2 {
      display: inline;
      width: 100%;
      font-size: 1.2em;
      font-weight: bold;
      padding: 0;
      margin: 0 0 10px 0;
      font-family: ProximaNovaSemiBold;
    }
    a {
      margin: 0 0 0 5px;
      font-size: 1.2em;
      font-family: ProximaNovaSemiBold;
    }
    p{
      display: inline;
    }
  }

  #page{
    min-height: 500px;
    margin: 0 auto;
    .title{
      text-align: center;
      h1{
        min-width: inherit;
        margin: 10px 0 10px 0;
      }
      h2 {
        display: block;
        width: 100%;
        min-width: inherit;
        margin: 0 0 2px 0;
        padding-left: 5px;
        font-family: ProximaNovaSemiBold;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
    .content{
      padding-left: 5px;
    }
    .wrapper{
      width: 320px;
      margin: 0 auto;
    }
    .img-wrapper{
      max-width: 350px;
      margin: 0 auto;
      padding: 10px 0;
    }
    .right-page{
    }
    a{
      margin: 5px 0 0 10px;
    }
    p{
      min-width: 580px;
      margin: 5px 0 0 0;
      font-family: ProximaNovaSemiBold;
    }
    h1{
      min-width: 580px;
      margin: 10px 0 10px 0;
    }
    h2 {
      display: block;
      width: 100%;
      min-width: 580px;
      margin: 0 0 2px 0;
      padding-left: 5px;
      font-family: ProximaNovaSemiBold;
      font-size: 1.2em;
      font-weight: bold;
    }
    h3 {
      display: block;
      width: 40%;
      min-width: 300px;
      margin: 10px 0 0 0;
      padding-left: 5px;
      color: #a0a0a0;
      border-bottom: 1px solid #b3b3b3;
      font-family: ProximaNovaSemiBold;
      font-size: 1em;
      font-weight: bold;
    }
    ul{
      padding-left: 20px;
    }
  }
}

footer#footer_main{
  z-index: 3;
  background: white;
  text-align: center;
  p{
    padding: 15px;
  }
}


#todo-list{
  margin-bottom:30px;
}

div#clt-main-title{
  padding: 30px;
  border-radius: 10px;
  font-family: cursive;
  h1{
    font-size: 45px;
    margin: 0px;
  }
  p{
    margin: 0;
    margin-top: 20px;
    font-family: inherit;
  }
}

div#timeline-form{
  .form-group{
    margin: 0;
  }
  input{
    height: 34px;
  }
  div#date-picker{
    padding: 0;
    p{
      margin: 0;
    }
  }
  button#timeline-add-btn{
    height: 34px;
    padding: 0;
  }
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-1000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-1000px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 640px) {
  #dev-title{
    display: none;
  }
  .portfolio,
  .portfolio .column,
  footer,
  #contact form,
  #container,
  #container h2 span { width: 100%; box-sizing: border-box; }

  #container { margin-bottom: 0; }

  footer { padding-top: 0; padding-bottom: 10px; }

  .portfolio section a.item,
  .portfolio section a.item img,
  .portfolio section.thirds,
  .portfolio section.thirds:nth-child(2),
  .portfolio section.column:nth-child(2),
  .portfolio section.column { padding: 0; margin: 0; float: none; width: 100%; }
  .portfolio section a.item,
  .portfolio section.thirds .icon,
  .portfolio section.thirds .item { margin-bottom: 10px; }

  .container{
    padding: 0;
  }
  #container,
  #contact form {
    padding-left: 10px;
    padding-right: 10px;
  }

  section.ethos,
  #totop,
  #container h2 span em.righty { display: none; }

  div.button { padding-top: 10px; }

  header .chen { padding-top: 120px; }

  header h2 span { padding-top: 0;}
}

